<#@ template debug="false" hostspecific="false" language="C#" #>
<h2>Settings</h2><b><#= this.MyStringyVariable #></b><# foreach (Potato.Net.Models.Player player in this.MyListOfPlayers) { #><#= player.Name #> (Score: <#= player.Score #>)<br/><# } #>