/builds
/src/BasicInGameInfo/bin
/src/BasicInGameInfo/obj
/src/Procon/bin
/src/Procon/obj
/src/Procon.Console/bin
/src/Procon.Console/obj
/src/Procon.Core/bin
/src/Procon.Core/obj
/src/Procon.Core/Service References
/src/Procon.DB/bin
/src/Procon.DB/obj
/src/Procon.DB.Test/bin
/src/Procon.DB.Test/obj
/src/Procon.Net/bin
/src/Procon.Net/obj
/src/Procon.Net.Console/bin
/src/Procon.Net.Console/obj
/src/Procon.Net.Protocols.Frostbite/bin
/src/Procon.Net.Protocols.Frostbite/obj
/src/Procon.NLP/bin
/src/Procon.NLP/obj
/src/Procon.NLP.Test/bin
/src/Procon.NLP.Test/obj
/src/Procon.UI/bin
/src/Procon.UI/obj
/src/Procon.UI.API/bin
/src/Procon.UI.API/obj
/src/Procon.UI.Default/bin
/src/Procon.UI.Default/obj
/src/Procon.UI.Default.Old/bin
/src/Procon.UI.Default.Old/obj
/src/Procon.UI.Manager/bin
/src/Procon.UI.Manager/obj
/src/Procon.v11.suo
/src/Procon.UI/Images/Countries
/src/Procon.suo